.line-vertical
    {
        border: 0;
        margin: 0;
        border-left: 5px solid #E2C76B;
        height: 200px;
        float: left;
      }

.nav{
    background-color: #FFFFFF;
}
      *{margin: 0;padding: 0}
      .card{width: 100%;border-radius: 13px}.card1{background-color: #5390b5;width: 100%}
      .innercard{width: 100%;background-color: #eef8fe;border-radius: 11px}
      .btn{
       padding: 15px 40px;
        border: none;
        background: rgb(226,199,107);
background: linear-gradient(288deg, rgba(226,199,107,1) 34%, rgba(197,163,90,1) 73%);
        font-size: 17px;
        color: #242A34;
        display:flex;
        justify-content:center;
        align-items:center}
      .btn:hover{
        background-color:#8f6710
        
    }
      .btn:focus{box-shadow:none;outline:none}
      
     


     
      .navbar-brand{font-weight: 700;font-size: 22px}
      .go{color: #d4a711}
      .home{color: #d4a711}
      #a-color{color: #d4a711}
      .nav-item{font-weight: 500;color: #000000}
      .heading{font-weight: 700;font-size: 35px}
      .text{font-size: 32px;font-weight: 700;color: #0f1113b8}
      .text1{color: #7f858a;font-size: 13px;font-weight: 500}
      .buttonitems{font-size: 12px;color: #179dfe;font-weight: 500}
      .card2{background-color: #fff;border: none;border-radius: 8px;width:100%}
      .stellar{font-size: 16px;font-weight: 600}
      .hosting{font-size: 12px;color: #bac3ce}
      .price{font-size: 25px;font-weight: 700}
      .small{font-size: 13px}
      .year{font-size: 13px;color: #119cff}


     
    li {
        margin: 0 .7rem;
    }
    
    /* Underline styles */
    a {
        display: block;
        position: relative;
        padding: 0.2em 0;
    }
    
    /* Fade in */
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: hotpink;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }
    
    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
    
    /* Slide in */
    li:nth-child(2) a {
        overflow: hidden;
    }
    
    li:nth-child(2) a::after {
        opacity :1;
        transform: translate3d(-100%, 0, 0);
    }

    @media only screen and (max-width: 600px) {

        a::after{
            width: 25%;
        }
    }

    
    li:nth-child(2) a:hover::after,
    li:nth-child(2) a:focus::after{
        transform: translate3d(0, 0, 0);
    }
    
    /* Scale from center */
    li:nth-child(3) a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    li:nth-child(3) a:hover::after,
    li:nth-child(3) a:focus::after{
        transform: scale(1);
    }
    
    /* Scale from center */
    li:nth-child(4) a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    li:nth-child(4) a:hover::after,
    li:nth-child(4) a:focus::after{
        transform: scale(1);
    }
    
    /* Scale from center */
    li:nth-child(5) a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    li:nth-child(5) a:hover::after,
    li:nth-child(5) a:focus::after{
        transform: scale(1);
    }
    
    /* Scale from center */
    li:nth-child(6) a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    li:nth-child(6) a:hover::after,
    li:nth-child(6) a:focus::after{
        transform: scale(1);
    }
    



    